<!doctype html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NotRapnik</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <nav class="navbar">
      <div class="nav-left">
        <div class="logo">LOGO</div>
        <span class="brand">NotRapnik</span>
      </div>
      <div class="nav-center">
        <a class="title" href="{{ url_for('home') }}">Strona notatek</a>
      </div>
      <div class="nav-right">
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('signup') }}">Sign up</a>
        <a href="#">Logout</a>
      </div>
    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
