<!doctype html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NotRapnik</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <nav class="navbar">
      <ul class="nav-left">
        <li><a href="{{ url_for('notes') }}">Notatki</a></li>
      </ul>
      <div class="nav-center">
        <a class="btn-center" href="{{ url_for('home') }}">Home</a>
      </div>
      <ul class="nav-right">
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('signup') }}">Sign up</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
