<!doctype html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NotRapnik</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
  {% block head %}{% endblock %}
</head>
<body>
  <header>
    <nav class="navbar">
      <a href="{{ url_for('main.public_home') }}" class="nav-left">
        <div class="logo">LOGO</div>
        <div class="brand">NotRapnik</div>
      </a>
      <div class="nav-center">
        <a class="title" href="{{ url_for('main.home') }}">StronaNotatek</a>
      </div>
      <div class="nav-right">
        {% if current_user.is_authenticated %}
          <a href="{{ url_for('main.logout') }}">Wyloguj</a>
        {% else %}
          <a href="{{ url_for('main.login') }}">Zaloguj</a>
          <a href="{{ url_for('main.signup') }}">Zarejestruj</a>
        {% endif %}
      </div>
    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
